/* 公用 */
.leftArea{float:left}
.rightArea{float:right}
.comWidth{width:1000px;margin:0 auto}
.comWidth-login{width:460px;margin:0 auto}
.comWidth-register{width:630px;margin:0 auto }
.fl{float:left}
.fr{float:right}
.hide{display: none}
.show{display:block}
.gray{background-color:#f0f0f0;}

/* topBar */
.topBar{height:31px;  background-color: #f7f7f7;font:14px/31px 'Microsoft YaHei'}
.collection{font-weight: bold;background:url(../img/icon/collection.jpg) left center no-repeat; padding-left:19px}
.topBar a:hover{color:red}

/* logo */
.logoBar{height:85px;background-color: #1d7ad9; font:14px 'Microsoft YaHei'}
.logo{padding:10px 0 10px 40px; float:left}
.search_box{float: left;width: 430px; padding:22px 0 22px 180px}
.search_text{height:14px;width:350px; padding:  10px 5px;background-color: #fff}
.search_btn{width: 70px;height: 34px;background-color: #ff8c00; font:14px 'Microsoft YaHei';;color:#fff;float:right}
.shop_car{margin-left:30px; margin-right:55px;float:left; width:152px ;height:35px; background-color: #ff8c00; margin-top:22px;font:14px/35px  'Microsoft YaHei';color:#fff}
.shop_car a{color:#fff}
.shop_text{ width:86px;height:100%;float:left;border-right:1px solid #e27a00;background: url(../img/icon/shop_car.jpg) 10px center no-repeat ; text-indent: 40px}
.shop_num{width:30px;height:100%; padding-right:28px ;border-left:1px solid #e27a00;display:inline-block;background:url(../img/icon/arrowDown.jpg) 33px center no-repeat; text-align: right}
/* navBar */
.navBar{height:35px;background-color: #1369c0}

.shopClass{float:left; width:190px;font-size: 14px  ;color:#fff; position: relative}
.shopClass h3{font-weight:normal;font-family: 'Microsoft YaHei' ; text-align: center; line-height:35px; background:url(../img/icon/arrow.jpg) 148px center no-repeat}
.nav{font: 14px/35px  'Microsoft YaHei' ;color:#fff}
.nav li{float:left;width:102px;text-align: center}
.nav a {color:inherit}
.nav .active{background:#4593fd}

/* 商品弹出列表 */
.shopClass_show{background:#4593fd; color:#fff;position: absolute;left:0;top:35px;width:100%}
.shopClass_item{padding:11px 12px;border-bottom:1px solid #5aa1fe;border-top:1px solid #3487f2}
.shopClass_item a {color:#fff;line-height: 20px}
.shopClass_item a:hover{text-decoration: underline}
.shopClass_item dt{background: url(../img/icon/arrowRight.jpg)right center no-repeat}

.b{font-weight: bold}
.yq{font-size:12px;color:#fff;background:url(../img/icon/yq.jpg) left center no-repeat;width:48px;height: 20px; line-height: 20px;display: inline-block; text-align: center;text-decoration: underline}
.shopClass_item dd{font-size:12px}

/*shopClass_item active 状态*/
.shopClass_item.active{background-color: #fff;border-left:1px solid #2785e6}
.shopClass_item.active a{text-decoration: none;color:#000}
/* 弹出的菜单 */
.shopClass_list{width:570px;position: absolute;background-color:#fff;left:190px;top:35px;border:1px solid #dddddd}
.shopList_cont{margin:0 22px;border-bottom:1px solid #ccc;padding: 10px 0 }
.shopList_item {line-height: 28px}
.shopList_item dt{font-weight: bold}
.shopList_item dt a{color:#4b88da }
.shopList_item dd{padding-left:88px; margin-top:-28px }
.shopList_item dd a{padding-right: 14px}
.shopList_item dd a:hover{color:#ff7300}
.shopList_channel{padding: 15px 22px}
.shopList_channel div{margin-right: 12px;padding:8px;display:inline-block;background-color:#2785e6}
.shopList_channel a{color:#fff}
/* banner */
.banner{margin-left:190px;width: 810px;height:328px; overflow:hidden;position: relative}
.banner span{position: absolute;display: inline-block;width: 30px;height: 30px;background-color: #222}
.banner_img{width:3240px}
.bannerSelect{text-align: center ;margin-top:-50px}
.bannerSelect a{width:22px;height:6px;display: inline-block;margin-left:10px}
.bannerNormal{background:url(../img/icon/bannerSelect.jpg)}
.bannerActive{background: url(../img/icon/bannerActive.jpg)}
.banner-left{left: 0;top:50%;}
.banner-right{right: 0;top:50%;}

/* Main Content */
.mainCont{}
.content_item{}
.contHeader{padding:14px 15px 14px 0 ; height:47px}
.contHeader a{ color:#000;line-height: 55px}
.contHeader h3{padding:14px 15px; font-size:16px; font-family: 'Microsoft YaHei'}
.contLogo{width:45px;height:45px; background:url(../img/icon/contLogo.jpg);display: inline-block}
.content_list{width:1000px;height:400px}
.leftBanner{height:400px;width:190px;position:relative;overflow: hidden}
.smBannerDiv{width:380px}
.smBanner{}
.smBannerSelect{text-align: left; margin:-30px 0 0 10px}
.smBannerSelect a{margin-left:5px; width:22px;height:6px;display: inline-block}
.cont_right{font-family:'Microsoft YaHei';text-align:center;width:810px;height:398px}
.contRightBig{width:198px;height:278px; overflow: hidden;border:1px solid #999;border-left:none}
.contTitle{line-height: 22px}
.price{font-size:12px;color:#ff7300}
.contRightSmall{width:198px;height:118px;border-bottom:2px solid #ff7300;border-right:1px solid #999}
.printerText{width:99px;height:100%}
.printerText{width:99px}
.printerTitle{color:#ff7300;    display: inline-block; margin-top: 30px}
.printerPrice{font-size:14px}
/* footerBar */
.footerBar{margin-top:40px;width:100%;background-color: #d4d4d4;height:225px;border-bottom:3px solid #ffffff}
.footerText{font-size:14px;text-align: center;padding-top:55px}
.footerText a{color:#000}
.footerText a:hover{color:#ff7300}
.Line_02{line-height: 40px}
.footerLogo{margin:30px auto; width:610px }
.footerLogo img{margin-right: 25px }


/* page2 */

/* product-list */
.contBar{padding-top:16px }
.product{width:810px}
.product-list{width:178px;border:1px solid #d7d7d7;background-color:#f3f3f3;margin-right: 10px}
.product-list-title{height: 34px;line-height: 34px;text-align: center;border-bottom: 1px solid #d7d7d7}
.product-list-item{padding-left:  21px;padding-bottom: 10px;border-bottom:1px dotted #d7d7d7}
.product-list-item h3{padding:13px 0}
.product-list-item li{width: 48%;display: inline-block;height: 24px;line-height: 24px}
.product-list-item a:hover{color:#ff7300}
.block{display: block; padding-left: 8px}
.product-list-preview{width:180px;line-height: 16px}
.product-list-preview-item{padding:10px 0}
.ipad{padding:0 0 10px 22px}
.product-list-preview-item-text {padding:0 12px;width: 88px}

/* product-cont*/
.product-cont{padding:15px  0}
.product-cont h3{height: 25px;width: 183px;border-bottom:1px solid #096dba;display: inline-block;text-indent: 10px}
.product-cont-list{border-top:1px solid #d7d7d7;padding-left: 20px}
.product-cont-list-item{width:162px;font-size:12px;line-height: 21px;margin-right: 34px}
.camera-price{color:#dc105a;display: inline-block;padding-top: 10px;font-size:14px;font-weight: bold}
.star{position:relative;top:4px;padding-bottom:2px;display:inline-block;width:13px;height:13px;background: url(../img/icon/star.jpg)left center no-repeat}
.comment-num{color:#085c9b}

/* page3 */

/* 筛选部分 */
.screen{}
.screen a{padding:2px}
.screening{padding:8px 0;border-bottom:1px dotted #d7d7d7}
.screen>:first-child,.screen>:last-child{border-bottom: 1px solid #d7d7d7}
.screening dt{width:75px;text-align: right;line-height: 22px;float:left }
.limit{display: inline-block;padding-left: 40px;line-height: 22px;float:left}
.screen-active a{color:#fff;background:#1d7ad9}
.phone-type{height:22px;line-height:22px; display: inline-block;padding-left: 40px;width:590px;padding-right:90px}
.phone-type a{color:#1d7ad9;margin-right:110px}
.screen-item{height:22px;line-height:22px;float:left}
.screen-item-type{padding-left: 40px;width:530px;line-height: 22px}
.screen-item-type li{width:20%;display: inline-block}
.screen-item-more{width:38px;background: url(../img/icon/arrowDown.jpg)right center no-repeat;line-height: 22px}
.screen-btn{line-height: 22px;margin-left: 40px}
.screen-btn a{background: url(../img/icon/arrowDown.jpg)right center no-repeat;padding: 5px 12px;border: 1px solid #d9d9d9;margin-right: 20px}
/* 配送条 */
.distribution{margin-top:14px;height:34px;border:1px solid #d9d9d9;background-color:#f5f5f5;line-height: 34px}
.distribution select{background-color:#fff;border:1px solid #bfbfbf;padding:3px 8px}
.dis-left{padding-left:14px}
.dis-right{padding-right:85px}
.dis-right input{position: relative;top:3px;left:3px}
.dis-right span{color:#d70000;font-weight: bold}

/* screen-cont */
.screen-cont{border-top:none;}
.screen-cont .product-cont-list-item{width:33.3%;margin:0}
.product-cont-list-item-text{width:162px;}
.add-car{width:90px;height: 25px;padding-left:25px;margin-top:10px; background:url(../img/icon/add-car.jpg)left center no-repeat;line-height: 25px;border:1px solid #c3d5e7 }
.add-car a{color:#3679bd}
.hot{background: url(../img/icon/hot.jpg)170px top no-repeat;}
/* 翻页 */
.change-page{margin:62px 0 -20px 20px;height: 28px;line-height: 28px}
.change-page ul{margin-right:15px}
.change-page li{display: inline-block;border:1px solid #c9c9c9;padding:0px 15px}
.change-page input{width:36px;border:1px solid #c9c9c9;padding:5px 0}
.change-page button{width:50px; border:1px solid #c9c9c9;background-color:#e8e8e8 ;padding:5px 10px}
.change-page-active{background-color: #2266bb}
.change-page-active a{color:#fff}
.change-page-disabled{background-color:transparent}
.change-page-disabled a{color:#d9d9d9}

/* page4-5 */
/* 面包屑导航 */
.user-position{margin-top:10px;height:24px;line-height: 24px;padding:10px 0}
.user-position li{float: left;margin-left:10px}
/* 产品详情 */

.pro-top-cont{border:1px solid #cccccc;background-color:#fff}
.pro-top-left{width:309px}
.pro-top-left ul{width:266px;margin:0 auto;padding-left:1px}
.pro-top-left li{ float: left;width: 52px;height: 52px;margin-left:-1px}
.pro-top-right{width:688px;border-left:1px solid #ccc}
.pro-ipad{display: block;margin:0 auto}
.pro-sm-ipad{background:url(../img/pro-sm-ipad.jpg)left center no-repeat}
.pro-sm-ipad1{background:url(../img/pro-sm-ipad1.jpg)left center no-repeat}
.pro-sm-ipad,.pro-sm-ipad1{border:1px solid #ccc}
.pro-sm-active{border:1px solid #317ee7;position: relative}
.pro-text{width:664px;margin:0 auto;font:12/24px 'Microsoft YaHei';padding-top:18px}
.pro-text h3{font-size:16px;font-family:'Microsoft YaHei'}
.pro-price{padding-top:14px;padding-bottom: 18px}
.pro-price b{font-size:22px;color:#da2626}
.pro-price span:nth-child(2){color:#da2626}
.pro-selection{line-height:24px;padding:0 12px;width:50px;display: inline-block;vertical-align:middle}
.discount{height:18px;line-height: 18px;padding-bottom:14px}
.mhg{display: inline-block;width:52px;color:#fff;padding:0 2px;background: url(../img/icon/mhg.jpg) left center no-repeat;text-align: right}
.pro-select{background-color:#f2f2f2 ;padding: 18px 72px 22px 0 ;line-height:24px}
.pro-select select{border:1px solid #ccc;background-color:#fff}
.select-block{}
.pro-select ul{margin-top:14px;vertical-align:;margin-left:74px}
.pro-select-big li,.pro-select-sm li{margin-bottom:10px;float:left;border:1px solid #ccc;background-color:#fff;margin-right:10px}
.pro-select-big a{display: inline-block;padding:5px 26px }
.pro-select-sm a{display: inline-block;padding:0 26px }
li.pro-select-active{border:1px solid #317ee7}
.pro-select-num{height: 32px;line-height: 32px}
.buy-limit{margin-left:5px}
.buy-limit b{color:#ff7300}
.select-btn{width:15px; border:1px solid #ccc;text-align: center; display: inline-block; background: url(../img/icon/button-background.jpg) left center no-repeat}
.select-num{width:50px;text-align: center;height:32px; display: inline-block;border-top:1px solid #ccc;border-bottom:1px solid #ccc}
.selected{margin:20px 0 15px 28px}
.selected span{color:#0479ca;font-weight: bold}
.shop-car{margin-left:84px;}
.add-shop-car{color:#fff;height: 24px;line-height: 48px;font: 16px 'Microsoft YaHei'; padding:12px 16px 12px 68px;background: url(../img/icon/shop_car.jpg) 30px center no-repeat;background-color:#ff7300;vertical-align:middle}
.mid-line{display:inline-block;width: 1px;height:90px;background-color:#ccc;margin: 0 40px;vertical-align:middle}
.pro-attention{margin:20px 0 20px 30px; color:#999999}
/* 同价位 */
.pro-main-cont{margin-top:14px}
.pro-main-left{width:186px;border-top:2px solid #1d86cf}

.pro-main-left-item{margin-bottom:12px}
.same-price{border:1px solid #ccc}
.same-tit{padding-left:14px;height:38px;background-color:#f3f3f3;line-height: 38px}
.pro-main-left .product-cont-list-item{padding-left:14px;padding-bottom:20px; width:170px;border:#ccc;background-color:#fff}

/*产品介绍*/
.pro-main-right{width:790px}
.pro-introduce{font-size:14px;height:38px;line-height: 38px;width: 50%;text-align: center;border-left:1px solid #ccc;margin-left:-1px;background: url(../img/icon/button-background.jpg)left center repeat-x;}
.pro-introduce-active{font-weight:bold; background:none;background-color:#1d86cf;color:#fff}
.pro-intro-icon{vertical-align:middle;width:20px;height:20px;line-height:38px;display:inline-block;background:url(../img/icon/pro-intro-icon.jpg)left center no-repeat }
.pro-intro-img{display: block;padding:28px 70px 50px 134px}
.pro-intro-cont{border:1px solid #ccc;background-color: #fff}
.pro-intro-cont-text{margin: 0 18px;font-family: 'Microsoft YaHei'}
.pro-intro-tit{height:34px;line-height: 34px;border-bottom:2px solid #d7d7d7}
.pro-intro-head{position:relative;color:#1d86cf;font-size:16px;padding-right:10px;border-bottom:2px solid #1d86cf}
.intro-maintext{padding:22px 0 62px 0 ;font-size:14px;line-height: 24px}
.big-img{display: block}
/* 评价 */
.pro-evaluate{margin-top:15px;border:1px solid #ccc;background-color: #fff;font:14px 'Microsoft Yahei'}
.evaluate-tit{height: 38px;line-height: 38px;padding-left: 15px}
.score{height:50px;padding:30px 0 50px 15px}
.score-num{font-size:50px;line-height: 50px; color:#ff7300}
.score-bar{margin-left:12px;font-family: '宋体';position: relative}
.score-bar ul{background-color:#bdbdbd;color:#fff}
.score-bar li{float: left;padding:0 28px}
.score-bar p{margin-top:15px;color:#66667d;}
.score-tip{padding:2px 5px;position: absolute;background: #7f7f7f;top:-27px;right:18px;color: #fff;font-weight: bold}
.score-tip + i{position: absolute;top:-7px;right:30px;border-width: 4px;border-style: solid dashed dashed dashed;border-color:#666 transparent transparent transparent}
.evaluate-tabs{background-color:#f2f2f2;height:30px;line-height:30px;padding-left:20px;padding-bottom:2px}
.evaluate-tabs-active {border-bottom:2px solid #317ee7;font-weight: bold;margin-bottom:-2px}
.evaluate-tabs-active a{color:#317ee7}
.evaluate-tabs li{float:left;margin-right:42px}
.evaluate-sort{padding-right:8px;position:relative}
.sort-arrow{padding:0 22px 0 5px;height: 24px ;font-size:12px;line-height:24px;display:inline-block;border: 1px solid #ccc;margin-left: -1px;background:url(../img/icon/sort-arrow.jpg) 58px center no-repeat;}
.tips-new{position: absolute;top:-28px;right:15px;font-size:12px;line-height:12px;padding:5px;font-weight:bold;background-color:#e40003;color:#fff;font-size:12px}
.tips-new-arrow{position:absolute;top: 22px;left: 0;border-width: 3px;border-style:solid dashed dashed solid;border-color:#e40003 transparent transparent #e40003 }
.evaluate-info{margin:20px 0 0 40px;font-size: 12px;color:#777777;padding-bottom:36px}
.evaluate-info p{text-align: center;width:60px}
.evaluate-info-left{margin-right:70px}
.evaluate-info-mid {}
.evaluate-stars{margin-bottom:20px}
.evaluate-star-text{font-weight: bold;color:#000}
.evaluate-info-cont{margin-bottom:15px}
.cai-ding a{color:#085c9b;margin-right:10px}
.evaluate-info-right{padding-right:22px}
.pro-main-right .change-page{margin:0;padding:0 14px 34px 0}
.pro-main-right .change-page li{padding:0 8px}
.pro-main-right .change-page-active {background-color: #e9e9e9;color:red}
.pro-main-right .change-page-active a{color:red;font-weight: bold}

/* 咨询 */
.evaluate-consultation{background-color:#fff;margin-top:16px}
.consultation-tit{height: 32px;line-height: 32px ;color:#076ebb;border-bottom: 1px solid #076ebb}
.all-consultation{margin-top:-1px;padding:0px 16px 0 20px;font-size:14px;font-weight: bold;border:1px solid #076ebb;border-bottom:1px solid #fff}
.publish-consultation{font-size: 12px;border-bottom:1px solid #076ebb;padding-right: 24px;color:#076ebb}
.tips{color:#777777;background-color:#f3f3f3;padding:6px 15px 0 16px;line-height:20px;margin:10px 10px 26px 20px}
.pro-consultation{color:#000;font-weight: bold;margin-bottom:15px}
.imooc-answer{position:relative;height:55px;width: 600px;background-color:#f1f1f1;line-height: 55px}
.imooc-answer i{position: absolute;top: -20px;left: 28px;border-width:10px;border-style: dashed dashed solid dashed;border-color:transparent transparent #f1f1f1 transparent}
.imooc-head{color:#000;margin-left:28px}

/* page6 */
/* 头部进度 */
.process{width:400px;height:80px;background: url(../img/icon/process.jpg) 20px center no-repeat}
.process ul{margin-top:55px}
.process li{float:left;color:#f3e402}
.process li:first-child{margin-right:82px}
.process li:nth-child(2){margin-right:80px}
.process li:last-child{color:#fff}
/* 购物车信息内容 */
.info-cont{}
.info-block{border:1px solid #ccc;font-size:12px;margin:12px 0 ;padding-bottom:16px }
.info-cont-tit{font:14px/29px 'Microsoft YaHei';background: url(../img/icon/info-cont-tit.jpg)left center repeat-x;height:29px;padding-left: 10px;border-bottom:1px solid #e3e3e3}
.info-cont-block{padding-top:25px;padding-left: 32px}
.info-cont-block dl{margin-bottom:15px;height: 20px}
.info-cont-block input,.info-cont-block select{border:1px solid #bfbfbf;padding:3px 6px;margin-top:-5px}
.info-cont-block dd,.info-cont-block dt{float:left}
.info-cont-required{ color:red;margin-right:10px }
.info-address-confirm{display:inline-block;margin-top:7px;padding:8px 20px;background-color:#418ffa;color:#fff}
/* 支付方式 */
.pay-cont{margin:14px 0 30px 30px}
.weichat{display:inline-block;width: 34px;height: 22px;background: url(../img/icon/weichat.jpg)left center no-repeat}
/* 需要发票 */
.info-invoices{margin-bottom:30px}
.info-invoices-confirm{display:inline-block;margin-top:7px;padding:6px 20px;background-color:#418ffa;color:#fff}
.info-invoices-cancel{display:inline-block;margin-top:7px;padding:5px 18px;background-color:#f6f6f6;border:1px solid #ccc}
/* 送货信息 */
.return-to{padding-right: 30px;font:12px/28px '宋体';color:#418ffa;float: right}
.info-send{padding:0}
.info-send-type{padding-left:30px;height: 30px;line-height: 30px;border-bottom: 1px solid #e6e6e6}
.info-send-type span{display: inline-block;color:#666666}
.send-pro-name{width:440px}
.send-pro-other{width:125px}
.info-send-cont{padding-top:10px;border-bottom: 1px solid #e6e6e6}
.refrigerator{display: block}
.send-pro-name-cont{padding-right:70px}
.send-pro-name-text{color:#666}
.info-send-cont span{display: inline-block}
.send-pro-info{width:350px}
.send-pro-num{text-indent: 30px}
.send-price{color:red;font-weight: bold}
.send-pro-gift{margin-top: 42px}
.send-pro-gift-info{width:290px}
.width-350{width:350px}
.send-message{padding:14px 0 0 30px}
.has-message{color:#3377ff}
.message-cont{margin-top:35px}
.message-tip{color:red;padding-left: 23px;margin-bottom:20px;background: url(../img/icon/message-tip.jpg)left center no-repeat}
.paper{margin-right:5px}
.out-of-stock-info{line-height: 22px;color:#666666}
.out-of-stock-name{width: 15em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.out-of-stock-price span{color: #d70000;font-weight: bold}

/* 提交订单 */
.order-settlement{padding:38px 24px 0 0 ;float:right}
.order-settlement-cont{color:#666}
.order-settlement span{color: #ee0000;font-size:30px;font-weight:bold}
.update-order{display:inline-block;margin:15px 0;padding:6px 36px;background-color:#ee0000;color:#fff}

/* page7-8 */
/* 登录页 */
/* 头部 */
.welcome{font:22px/84px 'Microsoft YaHei';color:#fff;float:left;margin-left:22px}
/* 主体内容块 */
.login-block{margin-top:10px;width:374px;border:1px solid #e8e8e8;padding:44px 0 20px 84px}
.login-block label{color:#999999;display: block}
.e-mail input,.e-mail-password input{margin-bottom:16px;width:265px;height:28px;line-height:28px;border:1px solid #ccc;margin-top:4px;padding-right:35px;padding-left:5px}
.e-mail{margin-bottom:16px}
.e-mail input{background: url(../img/icon/e-mail.jpg) right center no-repeat}
.e-mail-password{margin-bottom:16px}
.e-mail-password input{background:url(../img/icon/e-mail-password.jpg) right center no-repeat}
.auto-login{}
.security-control{}
.login-btn{margin-top:30px;color:#606060;font-size:14px;font-weight: bold; display: inline-block;text-align: center;width:308px;height:35px;line-height: 35px;background:url(../img/icon/login-btn.jpg) left center repeat-x;border:1px solid #d0e4f9}
.cooperate{margin-top:35px;color:#666666;line-height:24px}

/* 注册按钮 */
.register-btn{display: inline-block;float: right;padding:8px 18px;background-color:#7cbe56;color:#fff;margin-right:42px}


/* 注册页面主题内容 */
.register-block{width:630px;padding-left:0}
.register-bar{height:40px;line-height: 40px;margin-bottom:15px;color:#999999}
.register-bar input{padding:0 35px 0 5px;border:1px solid #ccc;width:190px;height:28px;line-height:28px}
.register-text{width:210px;text-align: right}
.register-text span:first-child{color:red}
.register-username{background: url(../img/icon/e-mail.jpg)right center no-repeat}
.register-password{background: url(../img/icon/e-mail-password.jpg)right center no-repeat}
.user-protocol{padding-left:210px;margin-top: 25px}
.user-protocol a{color:#005aa0}
.register-block .login-btn{margin:30px auto 30px auto;width:240px;display: block}